<%= form_with(model: tweet, class: local_assigns[:class], data: { action: "turbo:submit-start->tweet-form#submit", controller: "tweet-form", "inline-edit-target": "form" }) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %>
        prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.text_area :body,
                   placeholder: "Tweet your thoughts...",
                   data: {
                     "tweet-form-target": "body",
                     action: "keyup->tweet-form#update paste->tweet-form#update"
                   },
                   class: " w-full textarea textarea-primary" %>
  </div>

  <div class="flex w-full justify-between mb-4">

    <div class="w-full">
      <h4 class="mb-3">Ideas</h4>
      <div class="w-full" data-controller="nested-form">
        <template data-nested-form-target="template">
          <%= form.fields_for :ideas, Idea.new, child_index: "NEW_RECORD" do |idea| %>
            <%= render "tweets/ideas_fields", form: idea %>
          <% end %>
        </template>

        <%= form.fields_for :ideas do |idea| %>
          <%= render "tweets/ideas_fields", form: idea %>
        <% end %>

        <div class="mb-3" data-nested-form-target="links">
          <%= link_to "Add idea", "#", class: "btn", data: { action: "click->nested-form#add_association" } %>
        </div>
      </div>
    </div>

    <div class="w-full flex justify-end">
      <span data-tweet-form-target="characterCount"></span>
    </div>
  </div>

  <div class="flex w-full justify-between mb-4">
    <span></span>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
