<%= form_with(model: tweet, class: local_assigns[:class], data: { type: "script", controller: "tweet-form", "inline-edit-target": "form" }) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %>
        prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.text_area :body,
                   placeholder: "Tweet your thoughts...",
                   data: {
                     "tweet-form-target": "body",
                     action: "keyup->tweet-form#update paste->tweet-form#update"
                   },
                   class: " w-full textarea textarea-primary" %>
  </div>

  <div class="flex w-full justify-between mb-4">
    <span data-tweet-form-target="characterCount"></span>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
