<div
  data-controller="<%= 'inline-edit' if tweet.user.id == current_user.id %>"
  id="<%= dom_id(tweet) %>"
  class="card bg-base-100 shadow-xl m-3"
>
  <div class="card-body">
    <h2 class="card-title"></h2>
    <div data-inline-edit-target="body" data-action="click->inline-edit#toggle">
      <%= tweet.body %>
      <div>
        <div class="divider">Ideas</div>
        <%= render tweet.ideas %>
      </div>
    </div>

    <div class="card-actions justify-between flex items-center gap-4">
      <div>
        <%= render partial: 'likes/like', locals: { like: tweet.liked?(current_user) || tweet.likes.new } %>
      </div>
      <div>
        <small>
          <%= tweet.user.id == current_user.id ? "You" : tweet.user.name %>
            |
          <%= tweet.created_at.strftime("%B %d, %Y") %>
        </small>
      </div>
    </div>
    <%= render "form", tweet: tweet, class: "hidden" %>
  </div>
</div>
