<div data-controller="inline-edit" id="<%= dom_id(tweet) %>" class="card bg-base-100 shadow-xl mb-3">
  <div class="card-body">
    <h2 class="card-title"><%= tweet.user.name %></h2>
    <p data-inline-edit-target="body" data-action="click->inline-edit#toggle"><%= tweet.body %></p>
    <div class="card-actions justify-end flex items-center gap-4">
      <div class=""><small><%= tweet.created_at %></small></div>
    </div>
    <%= render "form", tweet: tweet, class: "hidden" %>
  </div>
</div>
