<div
  data-controller="<%= 'inline-edit' if tweet.user.id == current_user.id %>"
  id="<%= dom_id(tweet) %>"
  class="card bg-base-100 shadow-xl m-3"
>
  <div class="card-body">
    <h2 class="card-title"></h2>
    <div data-inline-edit-target="body" data-action="click->inline-edit#toggle">
      <%= tweet.body %>
      <div>
        <div class="divider">Ideas</div>
        <%= render tweet.ideas %>
      </div>
    </div>

    <div class="card-actions justify-between flex items-center gap-4">
      <div>
        <small class="flex items-center gap-3">
          <%= tweet.likes.count %> Likes
          <button class="btn btn-circle btn-sm <%= "btn-secondary" if tweet.liked?(current_user) %>">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
          </button>
        </small>
      </div>
      <div>
        <small>
          <%= tweet.user.id == current_user.id ? "You" : tweet.user.name %>
            |
          <%= tweet.created_at.strftime("%B %d, %Y") %>
        </small>
      </div>
    </div>
    <%= render "form", tweet: tweet, class: "hidden" %>
  </div>
</div>
